/* Content from: dark.css */
:root[data-sds-mode="dark"],
*[data-sds-mode="dark"],
*[data-sds-mode] [data-sds-mode="dark"],
*[data-sds-mode="dark"] .sds-spaceship,
*[data-sds-mode="dark"].sds-spaceship,
*[data-sds-mode] .sds-spaceship--dark,
*[data-sds-mode].sds-spaceship--dark,
*[data-sds-mode] .sds-spaceship [data-sds-mode="dark"],
*[data-sds-mode].sds-spaceship [data-sds-mode="dark"],
.sds-spaceship--dark {
  --sds-color-text-brand-primary: #5d8bff;
  --sds-color-text-brand-on-minimal: #5d8bff;
  --sds-color-text-brand-on-subtle: #84b5ff;
  --sds-color-text-brand-on-moderate: #84b5ff;
  --sds-color-text-brand-on-bold: #f9f9f9;
  --sds-color-text-brand-on-strong: #1a2337;
  --sds-color-text-brand-on-contrast: #1f3569;
  --sds-color-text-brand-on-strong-variant: #1f3569;
  --sds-color-text-brand-on-contrast-variant: #3a4acb;
  --sds-color-text-brand-on-minimal-opacity: #5d8bff;
  --sds-color-text-brand-on-subtle-opacity: #84b5ff;
  --sds-color-text-brand-on-moderate-opacity: #84b5ff;
  --sds-color-text-brand-selected-primary: #84b5ff;
  --sds-color-text-brand-selected-on-minimal: #84b5ff;
  --sds-color-text-brand-selected-on-subtle: #84b5ff;
  --sds-color-text-brand-selected-on-moderate: #b7d9ff;
  --sds-color-text-brand-selected-on-bold: #f9f9f9;
  --sds-color-icon-brand-primary: #5d8bff;
  --sds-color-icon-brand-on-minimal: #5d8bff;
  --sds-color-icon-brand-on-subtle: #84b5ff;
  --sds-color-icon-brand-on-moderate: #84b5ff;
  --sds-color-icon-brand-on-bold: #f9f9f9;
  --sds-color-icon-brand-on-strong: #1a2337;
  --sds-color-icon-brand-on-contrast: #1f3569;
  --sds-color-icon-brand-primary-variant: #5d8bff;
  --sds-color-icon-brand-on-subtle-variant: #5d8bff;
  --sds-color-icon-brand-on-moderate-variant: #5d8bff;
  --sds-color-icon-brand-on-strong-variant: #1f3569;
  --sds-color-icon-brand-on-contrast-variant: #3a4acb;
  --sds-color-icon-brand-on-minimal-opacity: #5d8bff;
  --sds-color-icon-brand-on-subtle-opacity: #84b5ff;
  --sds-color-icon-brand-on-moderate-opacity: #84b5ff;
  --sds-color-icon-brand-selected-primary: #84b5ff;
  --sds-color-icon-brand-selected-on-minimal: #84b5ff;
  --sds-color-icon-brand-selected-on-subtle: #84b5ff;
  --sds-color-icon-brand-selected-on-moderate: #b7d9ff;
  --sds-color-icon-brand-selected-on-bold: #f9f9f9;
  --sds-color-background-brand-minimal: #191f2d;
  --sds-color-background-brand-subtle: #1b2746;
  --sds-color-background-brand-moderate: #1f3569;
  --sds-color-background-brand-bold: #475bff;
  --sds-color-background-brand-strong: #84b5ff;
  --sds-color-background-brand-contrast: #b7d9ff;
  --sds-color-background-brand-minimal-opacity: rgba(37, 100, 252, 0.08);
  --sds-color-background-brand-subtle-opacity: rgba(40, 99, 253, 0.19);
  --sds-color-background-brand-moderate-opacity: rgba(44, 105, 250, 0.35);
  --sds-color-background-brand-selected-base: rgba(82, 69, 227, 0.11);
  --sds-color-background-brand-selected-minimal: rgba(84, 92, 242, 0.21);
  --sds-color-background-brand-selected-subtle: rgba(73, 91, 253, 0.27);
  --sds-color-background-brand-selected-moderate: rgba(82, 96, 250, 0.43);
  --sds-color-background-brand-selected-bold: #475bff;
  --sds-color-border-brand-subtle: rgba(40, 99, 253, 0.19);
  --sds-color-border-brand-subtle-hovered: rgba(52, 97, 251, 0.54);
  --sds-color-border-brand-subtle-pressed: rgba(71, 91, 254, 0.79);
  --sds-color-border-brand-moderate: rgba(44, 105, 250, 0.35);
  --sds-color-border-brand-moderate-hovered: rgba(71, 91, 254, 0.79);
  --sds-color-border-brand-moderate-pressed: #475bff;
  --sds-color-border-brand-bold: rgba(52, 97, 251, 0.54);
  --sds-color-border-brand-strong: rgba(71, 91, 254, 0.79);
  --sds-color-border-brand-contrast: #475bff;
  --sds-color-border-brand-selected-subtle: rgba(44, 105, 250, 0.35);
  --sds-color-border-brand-selected-bold: #475bff;
  --sds-color-border-focused: #475bff;
  --sds-color-border-inner-focused: #3a4acb;
  --sds-color-border-outer-focused: rgba(40, 99, 253, 0.19);
  --sds-color-state-layer-brand-primary-hovered: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-primary-focused: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-primary-pressed: rgba(93, 139, 255, 0.12);
  --sds-color-state-layer-brand-on-minimal-hovered: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-on-minimal-focused: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-on-minimal-pressed: rgba(93, 139, 255, 0.12);
  --sds-color-state-layer-brand-on-subtle-hovered: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-on-subtle-focused: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-on-subtle-pressed: rgba(93, 139, 255, 0.12);
  --sds-color-state-layer-brand-on-moderate-hovered: rgba(132, 181, 255, 0.08);
  --sds-color-state-layer-brand-on-moderate-focused: rgba(132, 181, 255, 0.08);
  --sds-color-state-layer-brand-on-moderate-pressed: rgba(132, 181, 255, 0.12);
  --sds-color-state-layer-brand-on-bold-hovered: rgba(249, 249, 249, 0.16);
  --sds-color-state-layer-brand-on-bold-focused: rgba(249, 249, 249, 0.16);
  --sds-color-state-layer-brand-on-bold-pressed: rgba(249, 249, 249, 0.24);
  --sds-color-state-layer-brand-on-strong-hovered: rgba(32, 34, 55, 0.16);
  --sds-color-state-layer-brand-on-strong-focused: rgba(32, 34, 55, 0.16);
  --sds-color-state-layer-brand-on-strong-pressed: rgba(32, 34, 55, 0.24);
  --sds-color-state-layer-brand-on-contrast-hovered: rgba(44, 50, 105, 0.16);
  --sds-color-state-layer-brand-on-contrast-focused: rgba(44, 50, 105, 0.16);
  --sds-color-state-layer-brand-on-contrast-pressed: rgba(44, 50, 105, 0.24);
  --sds-color-state-layer-brand-selected-primary-hovered: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-selected-primary-focused: rgba(93, 139, 255, 0.08);
  --sds-color-state-layer-brand-selected-primary-pressed: rgba(93, 139, 255, 0.12);
  --sds-color-state-layer-brand-selected-on-minimal-hovered: rgba(132, 181, 255, 0.08);
  --sds-color-state-layer-brand-selected-on-minimal-focused: rgba(132, 181, 255, 0.08);
  --sds-color-state-layer-brand-selected-on-minimal-pressed: rgba(132, 181, 255, 0.12);
  --sds-color-state-layer-brand-selected-on-subtle-hovered: rgba(132, 181, 255, 0.08);
  --sds-color-state-layer-brand-selected-on-subtle-focused: rgba(132, 181, 255, 0.08);
  --sds-color-state-layer-brand-selected-on-subtle-pressed: rgba(132, 181, 255, 0.12);
  --sds-color-state-layer-brand-selected-on-moderate-hovered: rgba(183, 217, 255, 0.08);
  --sds-color-state-layer-brand-selected-on-moderate-focused: rgba(183, 217, 255, 0.08);
  --sds-color-state-layer-brand-selected-on-moderate-pressed: rgba(183, 217, 255, 0.12);
  --sds-color-state-layer-brand-selected-on-bold-hovered: rgba(249, 249, 249, 0.16);
  --sds-color-state-layer-brand-selected-on-bold-focused: rgba(249, 249, 249, 0.16);
  --sds-color-state-layer-brand-selected-on-bold-pressed: rgba(249, 249, 249, 0.24);
}
/* Content from: light.css */
:root,
*[data-sds-mode] [data-sds-mode="light"],
*[data-sds-mode="light"] .sds-spaceship,
*[data-sds-mode="light"].sds-spaceship,
*[data-sds-mode] .sds-spaceship--light,
*[data-sds-mode].sds-spaceship--light,
*[data-sds-mode] .sds-spaceship [data-sds-mode="light"],
*[data-sds-mode].sds-spaceship [data-sds-mode="light"],
.sds-spaceship--light {
  --sds-color-text-brand-primary: #394eff;
  --sds-color-text-brand-on-minimal: #394eff;
  --sds-color-text-brand-on-subtle: #2c3dce;
  --sds-color-text-brand-on-moderate: #1f2da0;
  --sds-color-text-brand-on-bold: #ffffff;
  --sds-color-text-brand-on-strong: #ffffff;
  --sds-color-text-brand-on-contrast: #ffffff;
  --sds-color-text-brand-on-strong-variant: #abcaff;
  --sds-color-text-brand-on-contrast-variant: #5c83ff;
  --sds-color-text-brand-on-minimal-opacity: #394eff;
  --sds-color-text-brand-on-subtle-opacity: #2c3dce;
  --sds-color-text-brand-on-moderate-opacity: #1f2da0;
  --sds-color-text-brand-selected-primary: #394eff;
  --sds-color-text-brand-selected-on-minimal: #2c3dce;
  --sds-color-text-brand-selected-on-subtle: #2c3dce;
  --sds-color-text-brand-selected-on-moderate: #121d76;
  --sds-color-text-brand-selected-on-bold: #ffffff;
  --sds-color-icon-brand-primary: #394eff;
  --sds-color-icon-brand-on-minimal: #394eff;
  --sds-color-icon-brand-on-subtle: #2c3dce;
  --sds-color-icon-brand-on-moderate: #1f2da0;
  --sds-color-icon-brand-on-bold: #ffffff;
  --sds-color-icon-brand-on-strong: #ffffff;
  --sds-color-icon-brand-on-contrast: #ffffff;
  --sds-color-icon-brand-primary-variant: #5c83ff;
  --sds-color-icon-brand-on-subtle-variant: #394eff;
  --sds-color-icon-brand-on-moderate-variant: #2c3dce;
  --sds-color-icon-brand-on-strong-variant: #abcaff;
  --sds-color-icon-brand-on-contrast-variant: #5c83ff;
  --sds-color-icon-brand-on-minimal-opacity: #394eff;
  --sds-color-icon-brand-on-subtle-opacity: #2c3dce;
  --sds-color-icon-brand-on-moderate-opacity: #1f2da0;
  --sds-color-icon-brand-selected-primary: #394eff;
  --sds-color-icon-brand-selected-on-minimal: #2c3dce;
  --sds-color-icon-brand-selected-on-subtle: #2c3dce;
  --sds-color-icon-brand-selected-on-moderate: #121d76;
  --sds-color-icon-brand-selected-on-bold: #ffffff;
  --sds-color-background-brand-minimal: #f6faff;
  --sds-color-background-brand-subtle: #ebf3ff;
  --sds-color-background-brand-moderate: #cfe3ff;
  --sds-color-background-brand-bold: #394eff;
  --sds-color-background-brand-strong: #1f2da0;
  --sds-color-background-brand-contrast: #050d4f;
  --sds-color-background-brand-minimal-opacity: rgba(30, 130, 255, 0.04);
  --sds-color-background-brand-subtle-opacity: rgba(5, 105, 255, 0.08);
  --sds-color-background-brand-moderate-opacity: rgba(2, 108, 255, 0.19);
  --sds-color-background-brand-selected-base: rgba(30, 130, 255, 0.08);
  --sds-color-background-brand-selected-minimal: rgba(5, 105, 255, 0.16);
  --sds-color-background-brand-selected-subtle: rgba(2, 108, 255, 0.27);
  --sds-color-background-brand-selected-moderate: rgba(0, 94, 255, 0.41);
  --sds-color-background-brand-selected-bold: #394eff;
  --sds-color-border-brand-subtle: rgba(2, 108, 255, 0.19);
  --sds-color-border-brand-subtle-hovered: rgba(4, 82, 255, 0.49);
  --sds-color-border-brand-subtle-pressed: rgba(0, 61, 255, 0.64);
  --sds-color-border-brand-moderate: rgba(0, 94, 255, 0.33);
  --sds-color-border-brand-moderate-hovered: rgba(0, 61, 255, 0.64);
  --sds-color-border-brand-moderate-pressed: #394eff;
  --sds-color-border-brand-bold: rgba(4, 82, 255, 0.49);
  --sds-color-border-brand-strong: rgba(0, 61, 255, 0.64);
  --sds-color-border-brand-contrast: #394eff;
  --sds-color-border-brand-selected-subtle: rgba(0, 94, 255, 0.33);
  --sds-color-border-brand-selected-bold: #394eff;
  --sds-color-border-focused: #394eff;
  --sds-color-border-inner-focused: #5c83ff;
  --sds-color-border-outer-focused: rgba(2, 108, 255, 0.19);
  --sds-color-state-layer-brand-primary-hovered: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-primary-focused: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-primary-pressed: rgba(57, 78, 255, 0.12);
  --sds-color-state-layer-brand-on-minimal-hovered: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-on-minimal-focused: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-on-minimal-pressed: rgba(57, 78, 255, 0.12);
  --sds-color-state-layer-brand-on-subtle-hovered: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-on-subtle-focused: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-on-subtle-pressed: rgba(57, 78, 255, 0.12);
  --sds-color-state-layer-brand-on-moderate-hovered: rgba(31, 45, 160, 0.08);
  --sds-color-state-layer-brand-on-moderate-focused: rgba(31, 45, 160, 0.08);
  --sds-color-state-layer-brand-on-moderate-pressed: rgba(31, 45, 160, 0.12);
  --sds-color-state-layer-brand-on-bold-hovered: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-on-bold-focused: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-on-bold-pressed: rgba(255, 255, 255, 0.24);
  --sds-color-state-layer-brand-on-strong-hovered: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-on-strong-focused: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-on-strong-pressed: rgba(255, 255, 255, 0.24);
  --sds-color-state-layer-brand-on-contrast-hovered: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-on-contrast-focused: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-on-contrast-pressed: rgba(255, 255, 255, 0.24);
  --sds-color-state-layer-brand-selected-primary-hovered: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-selected-primary-focused: rgba(57, 78, 255, 0.08);
  --sds-color-state-layer-brand-selected-primary-pressed: rgba(57, 78, 255, 0.12);
  --sds-color-state-layer-brand-selected-on-minimal-hovered: rgba(44, 61, 206, 0.08);
  --sds-color-state-layer-brand-selected-on-minimal-focused: rgba(44, 61, 206, 0.08);
  --sds-color-state-layer-brand-selected-on-minimal-pressed: rgba(44, 61, 206, 0.12);
  --sds-color-state-layer-brand-selected-on-subtle-hovered: rgba(44, 61, 206, 0.08);
  --sds-color-state-layer-brand-selected-on-subtle-focused: rgba(44, 61, 206, 0.08);
  --sds-color-state-layer-brand-selected-on-subtle-pressed: rgba(44, 61, 206, 0.12);
  --sds-color-state-layer-brand-selected-on-moderate-hovered: rgba(18, 29, 118, 0.08);
  --sds-color-state-layer-brand-selected-on-moderate-focused: rgba(18, 29, 118, 0.08);
  --sds-color-state-layer-brand-selected-on-moderate-pressed: rgba(18, 29, 118, 0.12);
  --sds-color-state-layer-brand-selected-on-bold-hovered: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-selected-on-bold-focused: rgba(255, 255, 255, 0.16);
  --sds-color-state-layer-brand-selected-on-bold-pressed: rgba(255, 255, 255, 0.24);
}
